<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="6e5eb447-1cff-4cd3-bef8-83505989c770" webrule="4.3.0.2" utc="2016-07-19T20:34:21.4760" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>2.Customer Monthly Limit</name><definition><if><clause><condition type="equal"><method name="IsPassedMonthlyLimit"><value type="System.Double">1000</value></method><value type="System.Boolean">true</value></condition></clause><then><method name="IsInvalid"><value>Customer passed monthly limit.</value></method></then><else><set><property name="IsValid" /><value type="System.Boolean">true</value></set></else></if></definition><format><lines /></format></rule></codeeffects>