<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="186846c9-59c0-438f-82cd-f00da6d72f68" webrule="4.3.0.2" utc="2016-07-15T14:36:52.5545" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>2.Customer Passed Monthly Limit</name><definition><if><clause><condition type="equal"><method name="IsPassedMonthlyLimit"><property name="DepositTransaction.Amount" /></method><value type="System.Boolean">true</value></condition></clause><then><method name="IsInvalid"><value>Customer has passed montly limit.</value></method></then><else><set><property name="IsValid" /><value type="System.Boolean">true</value></set></else></if></definition><format><lines /></format></rule></codeeffects>