<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="2c18c290-cc3b-4f2f-af35-917517fe129b" webrule="4.3.0.2" utc="2016-07-15T14:40:40.0839" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>3.Name Match on Credit Card</name><definition><if><clause><condition type="equal"><method name="IsNameMatchOnCreditCard"><property name="Customer.CustomerId" /></method><value type="System.Boolean">false</value></condition></clause><then><method name="IsInvalid"><value>Name on credit card does not match on customer account</value></method></then><else><set><property name="IsValid" /><value type="System.Boolean">true</value></set></else></if></definition><format><lines /></format></rule></codeeffects>