<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="3e99345b-830a-43c9-9e81-0ea1b5f8fedf" webrule="4.3.0.2" utc="2016-07-19T20:37:07.4926" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>4.Client Role Management</name><definition><if><clause><condition type="equal"><property name="Client.ClientRoleID" /><value type="numeric">1</value></condition></clause><then><method name="IsInvalid"><value>Management It is</value></method></then><else><method name="IsInvalid"><value>It is not Management</value></method></else></if></definition><format><lines /></format></rule></codeeffects>