<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="44802b0a-c419-4135-8437-3e3d510315a0" webrule="4.3.0.2" utc="2016-07-18T15:34:08.1411" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>1.Credit Card Is Blocked</name><description>Check if credit card is blocked.</description><definition><if><clause><condition type="contains"><property name="BlockedCreditCards" /><property name="CreditCard.CreditCardNumber" /></condition></clause><then><method name="IsInvalid"><value>Credit card is blocked.</value></method></then><else><set><property name="IsValid" /><value type="System.Boolean">true</value></set></else></if></definition><format><lines /></format></rule></codeeffects>