<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="8e67e907-5368-45ae-93aa-9152612481e5" webrule="4.3.0.2" utc="2016-07-15T14:37:37.0965" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>1.Credit Card is Blocked</name><definition><if><clause><condition type="equal"><method name="IsCreditCardBlocked"><property name="CreditCard.CreditCardNumber" /></method><value type="System.Boolean">true</value></condition></clause><then><method name="IsInvalid"><value>Credit card is blocked.</value></method></then><else><set><property name="IsValid" /><value type="System.Boolean">true</value></set></else></if></definition><format><lines /></format></rule></codeeffects>