<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4">
	<rule id="92973374-f381-40bc-a20b-cb031f1475aa" webrule="4.3.0.2" utc="2016-07-19T18:38:14.1917" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
		<name>5.Blocked Customer</name>
		<definition>
			<if>
				<clause>
					<condition type="greater">
						<property name="Customer.CustomerId" />
						<value type="numeric">1000</value>
					</condition>
				</clause>
				<then>
					<method name="IsInvalid">
						<value>Blocked Customer</value>
					</method>
				</then>
				<else>
					<set>
						<property name="IsValid" />
						<value type="System.Boolean">true</value>
					</set>
				</else>
			</if>
		</definition>
		<format>
			<lines />
		</format>
	</rule>
</codeeffects>