<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="9a5bbd3f-c76e-4e8b-b56f-9cae955afcf0" webrule="4.3.0.2" utc="2016-07-11T17:43:37.0585" type="RuleEngineCodeEffectsSandbox.Models.ShippingModel, RuleEngineCodeEffectsSandbox, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>FreeShippingRule</name><description>Shipping is Free</description><definition><if><clause><condition type="equal" stringComparison="InvariantCultureIgnoreCase"><property name="Customer.Address.City" /><value>Toronto</value></condition></clause><then><set><property name="IsShippingFree" /><value type="System.Boolean">true</value></set></then><else><set><property name="IsShippingFree" /><value type="System.Boolean">false</value></set></else></if></definition><format><lines /></format></rule></codeeffects>