<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4">
	<rule id="b2941afb-7c7d-4e6a-bf6c-66bca30b5932" webrule="4.3.0.2" utc="2016-07-19T21:25:56.6982" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
		<name>Test Rule</name>
		<definition>
			<if>
				<clause>
					<condition type="equal" stringComparison="OrdinalIgnoreCase">
						<property name="Customer.FirstName" />
						<value>Test</value>
					</condition>
				</clause>
				<then>
					<method name="Action" type="PinnacleSports.RuleService.Models.CreditDeposit.Helper, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
						<self />
					</method>
				</then>
				<else>
					<set>
						<property name="IsValid" />
						<value type="System.Boolean">true</value>
					</set>
				</else>
			</if>
		</definition>
		<format>
			<lines />
		</format>
	</rule>
</codeeffects>