<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="e67598c6-5bc4-4874-b089-01d324d32c40" webrule="4.3.0.2" utc="2016-07-19T18:36:03.4166" type="PinnacleSports.RuleService.Models.CreditDeposit.CreditCardDepositModel, PinnacleSports.RuleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>4.Test Rule</name><definition><if><clause><condition type="contains" stringComparison="OrdinalIgnoreCase"><property name="Customer.FirstName" /><value>Test</value></condition></clause><then><method name="IsInvalid"><value>This is a test.</value></method></then><else><set><property name="IsValid" /><value type="System.Boolean">true</value></set></else></if></definition><format><lines /></format></rule></codeeffects>