@using CodeEffects.Rule.Common
@using CodeEffects.Rule.Mvc
@{
    ViewBag.Title = "Post Example";

    Html.CodeEffects().Styles()
        .SetTheme(ThemeType.Gray)
        .Render();
}
@using (Html.BeginForm("Evaluate", "Home", FormMethod.Post))
{
    <div class="area">
        <h1 class="title">Post Example</h1>
        <div style="margin-top:10px;">
            <span>Info:</span>
            <span style="color:Red;">@ViewBag.Message</span>
        </div>
        <div style="margin-top:10px;">
            @{    Html.CodeEffects().RuleEditor()
                    .Id("ruleEditor")
                    .SaveAction("Save", "Home")
                    .LoadAction("Load", "Home")
                    .Mode(RuleType.Execution)
                    .ContextMenuRules(ViewBag.ContextMenuRules)
                    .ToolBarRules(ViewBag.ToolBarRules)
                    .Rule(ViewBag.Rule)
                    .Render();
            }
        </div>
    </div>
        <div class="area">
            <h1 class="title" style="margin-top:20px;">Rule Test Form</h1>
            @{
                Html.RenderPartial("_ShippingForm");
            }
        </div>
 }

@{
    Html.CodeEffects().Scripts().Render();
}
