<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="0bb10c66-5740-4396-bf45-975d95d7ccef" webrule="4.3.0.2" utc="2016-07-04T19:52:28.8626" type="codeeffects_sample01.Rules.DepositLimits.DepositLimitRule, codeeffects-sample01, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>exec - accept card</name><description>Accept card if applicable</description><definition><if><clause><condition type="equal"><rule id="8a056398-8e3f-450a-b6d8-92110f99022c" /><value type="System.Boolean">true</value></condition></clause><then><method name="Validate" type="codeeffects_sample01.Rules.DepositLimits.DepositLimitHelper, codeeffects-sample01, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"><self /></method></then></if></definition><format><lines /></format></rule></codeeffects>