<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NEventStore" version="5.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NServiceBus" version="5.0.0" targetFramework="net452" />
  <package id="NServiceBus.SqlServer" version="2.2.3" targetFramework="net452" />
  <package id="SimpleInjector" version="3.1.5" targetFramework="net452" />
</packages>